<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css') }}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <style>
</style>
</head>
<body>

<script type="text/javascript">

function perform_action(action)
{
  $.getJSON(action, function( data ) {
    for (var key in data)
    {
        if (key == "#stage-output")
        {
            $(key).html(data[key]);
        }
        else
        {
            $(key).replaceWith(data[key]);
        }
    }
  });
};



</script>

<div id="status"></div>
{% block stage %}{% endblock %}
{% block stage_options %}{% endblock %}
{% block new_stage %}{% endblock %}
{% block view_stages %}{% endblock %}
</body>
</html>