<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='site.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='jquery-1.9.1.js') }}"></script>
    <style>
</style>
</head>
<body>
{% block stage %}{% endblock %}

<u>Stage Actions</u>
<ul>
<li>Load Stage</li>
<li>Add Team</li>
{% if breakaway %}
<li><a href="{{ url_for('breakaway')}}">Perform Breakaway</a></li>
{% endif %}
{% if energy %}
<li><a href="{{ url_for('energy')}}">Perform Energy Phase</a></li>
{% endif %}
</ul>

<u>Stage Output</u><br>
<textarea rows="10" cols="100">
{{phase_text}}
</textarea>

<!-- stage automatically saves to "Stage Name/number_m/e" each phase -->
</body>
</html>