<div class="box rider">{{ name }}: {{ message }}</div>
{% for cards in deck %}
    {{ cards|safe }}
{% endfor %}
<div class="box actions">
{% if options %}
<a href="{{ url_for('exhaustion', team_name = team, short = short)}}">Add Exhaustion</a></br>
<a href="{{ url_for('finished', team_name = team, short = short)}}">Finished</a></br>
{% endif %}
{% if breakaway %}
<a href="{{ url_for('in_breakaway', team_name = team, short = short)}}">In Breakaway</a></br>
{% endif %}
{% if winlose %}
<a href="{{ url_for('winner', team_name = team, short = short)}}">Winner</a></br>
<a href="{{ url_for('loser', team_name = team, short = short)}}">Loser</a></br>
{% endif %}
</div>